contourpy==1.1.1
cycler==0.12.1
fonttools==4.43.1
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.1
packaging==23.2
pandas==2.1.1
patsy==0.5.3
Pillow==10.1.0
plotly==5.17.0
plotly-express==0.4.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
scipy==1.11.3
six==1.16.0
statsmodels==0.14.0
tenacity==8.2.3
tzdata==2023.3
nbformat==5.2.0
mkdocs == 1.5.3
mkdocstrings-python == 1.7.2
pygments == 2.16.1
mkdocs-material == 9.4.4
pymdown-extensions == 10.3
mkdocs-bootstrap386 == 0.0.2